@import url("https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap");
html {
  font-size: 12px;
}

body {
  background: #eff5f9;
  color: #728c98;
  font-family: "Roboto", sans serif;
  font-weight: 300;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.device {
  background: #f7fbfd;
  border-radius: 2.4rem;
  box-shadow: 2rem 2rem 8rem rgba(78, 134, 165, 0.09), 1rem 1rem 4rem rgba(78, 134, 165, 0.09), inset 4rem 4rem 10rem rgba(78, 134, 165, 0.05);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  height: 50rem;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  -webkit-transform: translate3D(-50%, -50%, 0);
          transform: translate3D(-50%, -50%, 0);
  width: 26.8rem;
}

.device__top {
  background: rgba(255, 255, 255, 0.6);
  height: 27.2rem;
  overflow: hidden;
  position: relative;
}

.album-art {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  position: absolute;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.album-art.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.device__mid {
  -webkit-box-flex: 1;
          flex: 1;
}

.info {
  display: -webkit-box;
  display: flex;
  font-size: 0.9rem;
  padding: 2rem 3rem;
}

.info__right {
  -webkit-box-flex: 1;
          flex: 1;
  text-align: right;
}

.info__song {
  font-weight: 700;
  height: 1.6rem;
  margin: 0;
  overflow: hidden;
  padding: 0 0 0.4rem;
  position: relative;
}

.song {
  display: block;
  position: absolute;
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
}

.song.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.info__artist {
  font-size: 1rem;
  font-weight: 300;
  height: 1.2rem;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 12rem;
}

.artist {
  display: block;
  left: 0;
  top: 0;
  position: absolute;
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
}

.artist.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.info__type {
  color: #aebec6;
  font-size: 0.8rem;
  font-weight: 700;
  margin: 0.4rem 0 0.3rem;
  padding: 0 0 0.3rem;
  text-transform: uppercase;
}

.info__type-name {
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.controls {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

.progress {
  height: 0.5rem;
  margin: 3rem 0 3.6rem;
  position: relative;
}

#play-button .pause {
  display: none;
}
#play-button .play {
  display: block;
}

#play-button.pause .pause {
  display: block;
}
#play-button.pause .play {
  display: none;
}

.controls__round-button {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10rem;
  box-shadow: 1rem 1rem 4rem rgba(78, 134, 165, 0.09), 0.5rem 0.5rem 2rem rgba(78, 134, 165, 0.09), -0.5rem -1.5rem 2rem white, inset 1rem 1rem 2.3rem rgba(78, 134, 165, 0.05), 0px 0px 0.1rem #ffffff, inset 0.1rem 0.1rem 0 #ffffff;
  height: 5rem;
  margin: 0 1rem 3rem;
  position: relative;
  -webkit-transition: box-shadow 0.05s ease-in;
  transition: box-shadow 0.05s ease-in;
  width: 5rem;
}
.controls__round-button svg {
  height: 1.6rem;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  width: 1.6rem;
}
.controls__round-button svg path {
  fill: #728c98;
  -webkit-transition: fill 0.05s ease-in;
  transition: fill 0.05s ease-in;
}

.controls__round-button:active {
  box-shadow: 1rem 1rem 4rem rgba(78, 134, 165, 0), 0 0.1rem 0.1rem rgba(78, 134, 165, 0.25), -0.5rem -1.5rem 2rem rgba(255, 255, 255, 0), inset 1rem 1rem 2.3rem rgba(78, 134, 165, 0.05), 0 0.1rem 0.1rem white, inset 0.1rem -0.1rem 0 rgba(255, 255, 255, 0);
}
.controls__round-button:active * {
  fill: #49c6ff;
  -webkit-filter: drop-shadow(0 0 0.1rem rgba(124, 214, 255, 0.5));
          filter: drop-shadow(0 0 0.1rem rgba(124, 214, 255, 0.5));
}

.controls__round-button--large {
  height: 7.5rem;
  text-align: center;
  width: 7.5rem;
}
.controls__round-button--large svg {
  height: 2.6rem;
  width: 2.6rem;
}

.controls__play {
  margin-left: 0.4rem;
}

button {
  border: none;
  color: #728c98;
  cursor: pointer;
  display: inline-block;
  font-family: "roboto", sans-serif;
  font-size: 1rem;
  line-height: 1;
  margin: 0;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #fff;
}

button:focus {
  outline: none;
}

input[type="range"] {
  background: transparent;
  height: 2.5rem;
  -webkit-appearance: none;
  margin: 0.1rem 3rem;
  width: calc(100% - 6rem);
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.5rem;
  cursor: pointer;
  animate: 0.2s;
  border: 0;
  background: rgba(78, 134, 165, 0.03);
  border-radius: 1rem;
  bottom: 0;
  box-shadow: 0.3rem 0.3rem 1rem #ffffff, -0.3rem -0.2rem 0.8rem rgba(78, 134, 165, 0.03), inset 1rem 1rem 2.3rem rgba(78, 134, 165, 0.05), inset 0.1rem 0.1rem 0 rgba(78, 134, 165, 0.05);
}

input[type="range"]::-webkit-slider-thumb {
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
  background: #f7fbfd;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 1.2rem rgba(78, 134, 165, 0.12), 0.1rem 0.1rem 0.5rem rgba(78, 134, 165, 0.12), 0 0 0.1rem #fff, inset 0.2rem 0.2rem 0.5rem rgba(78, 134, 165, 0.05), inset 0.2rem 0.2rem 0 #fff;
  height: 1.4rem;
  padding: 0;
  width: 1.4rem;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background: #fff;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: rgba(73, 198, 255, 0.5);
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 0.5rem;
  cursor: pointer;
  animate: 0.2s;
  border: 0;
  background: rgba(78, 134, 165, 0.03);
  border-radius: 1rem;
  bottom: 0;
  box-shadow: 0.3rem 0.3rem 1rem #ffffff, -0.3rem -0.2rem 0.8rem rgba(78, 134, 165, 0.03), inset 1rem 1rem 2.3rem rgba(78, 134, 165, 0.05), inset 0.1rem 0.1rem 0 rgba(78, 134, 165, 0.05);
}

input[type="range"]::-moz-range-thumb {
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
  background: #f7fbfd;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 1.2rem rgba(78, 134, 165, 0.12), 0.1rem 0.1rem 0.5rem rgba(78, 134, 165, 0.12), 0 0 0.1rem #fff, inset 0.2rem 0.2rem 0.5rem rgba(78, 134, 165, 0.05), inset 0.2rem 0.2rem 0 #fff;
  height: 1.4rem;
  padding: 0;
  width: 1.4rem;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 0.5rem;
  cursor: pointer;
  animate: 0.2s;
  border: 0;
  background: rgba(78, 134, 165, 0.03);
  border-radius: 1rem;
  bottom: 0;
  box-shadow: 0.3rem 0.3rem 1rem #ffffff, -0.3rem -0.2rem 0.8rem rgba(78, 134, 165, 0.03), inset 1rem 1rem 2.3rem rgba(78, 134, 165, 0.05), inset 0.1rem 0.1rem 0 rgba(78, 134, 165, 0.05);
}

input[type="range"]::-ms-thumb {
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
  background: #f7fbfd;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 1.2rem rgba(78, 134, 165, 0.12), 0.1rem 0.1rem 0.5rem rgba(78, 134, 165, 0.12), 0 0 0.1rem #fff, inset 0.2rem 0.2rem 0.5rem rgba(78, 134, 165, 0.05), inset 0.2rem 0.2rem 0 #fff;
  height: 1.4rem;
  padding: 0;
  width: 1.4rem;
}
