@keyframes changeOrder {
    from { z-index: 6;}
    to { z-index: 1; }
  }
  
  label {
    animation: changeOrder 3s infinite linear;
    background: #ddd;
    cursor: pointer;
    display: block;
    left: 1rem;
    padding: 1rem;
    position: absolute;
    top: 1rem;
    user-select: none;
  }
  
  label:nth-of-type(1) { animation-delay: 0s; }
  label:nth-of-type(2) { animation-delay: -0.5s; }
  label:nth-of-type(3) { animation-delay: -1.0s; }
  label:nth-of-type(4) { animation-delay: -1.5s; }
  label:nth-of-type(5) { animation-delay: -2.0s; }
  label:nth-of-type(6) { animation-delay: -2.5s; }
  
  div {
    left: 1rem;
    position: absolute;
    top: 5rem;
    width: 100%;
  }
  
  #d1:checked ~ p span::before { content: "1"; }
  #d2:checked ~ p span::before { content: "2"; }
  #d3:checked ~ p span::before { content: "3"; }
  #d4:checked ~ p span::before { content: "4"; }
  #d5:checked ~ p span::before { content: "5"; }
  #d6:checked ~ p span::before { content: "6"; }