*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

p{
    position: relative;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 5em;
    letter-spacing: 4px;
    background: linear-gradient(90deg, #000,#fff,#000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
}

@keyframes animate{
    0%{
        background-position-x: -500%;
    }
    100%{
        background-position-x: 500%;
    }
}