body{
    
}

/*video {
    position: fixed; right:0; bottom:0;
    width: 100%;
    z-index: -100;
    background: url(images/image1.jpg);
    background-size: cover;
    transition: 1s opacity;
}*/
.center{
    text-align: center;
    margin-top: 15em;
}

.btnIntro{
    vertical-align: middle;
}