body{
    margin:0;
    padding:0;
    background: url('bg02.jpg');
    animation: moving 20s linear infinite;
}

@keyframes moving{
    0%{background-position: 0 0%;}
    100%{background-position: 70% 0%;}
}

.earth{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
    width: 150px;
    height: 150px;
    background-image: url('earth.jpg');
    border-radius: 50%;
    background-size: cover;
    box-shadow: -20px -20px 50px 2px #000 inset, 0 0 20px 2px #000;
    animation: spin 20s linear infinite;

}

@keyframes spin{
    0%{margin-left:0%;background-position: 0%; transform: scale(0);}
    50%{margin-left:40%;background-position: 600%; transform: scale(1.2);}
    100%{margin-left:80%;background-position: 1200%; transform: scale(3.5);} 
}
