@font-face{
    font-family: 'GreatVibes';
    src: url('GreatVibes-Regular.otf');
}

body{
    background: url(images/fondBlanc.jpg);              /*image fond*/

}

h1{
    color: rgb(18, 15, 199);                          /*chgt couleur*/
    text-shadow: 10px 5px 2px rgb(110, 221, 255);     /*ombre texte*/
    text-align: center;
    border: 1px groove black;                         /*bordure*/
    margin: 2em;
    padding: 1.3em;
}

.intro{                                                 /*chgt alignement*/
    text-align: center;
}

.photoProf{
    text-align: center;
}

h2{
    color: rgb(18, 15, 199);
    font-family: 'GreatVibes', Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}

h2 ul li{
    list-style: none;
}

