body{
    margin:0;
    background-image: url(images/fondBlanc.jpg);
}

#conteneur{
    display: flex;
    justify-content: flex-start;
    height: 36em;
    width: 80%;
    margin-left: 12%;
    margin-top: 5%;   
}

#aside{
    position: absolute;
    top: 0%;
    background-color: aqua;
    border-radius: 20px;
    width:11%;
    height: 100%;
    background-image: url(images/aside.jpg);
}

.experience:nth-child(1){
    flex:1;
}

.competences:nth-child(2){
    flex:2;
}

h1{
    
    color: rgb(18, 15, 199);                          /*chgt couleur*/
    text-shadow: 10px 5px 2px rgb(110, 221, 255);     /*ombre texte*/
    text-align: center;
    border: 2px groove black;                         /*bordure*/
    margin: 1.5em;
    margin-left: 25%;
    margin-right: 25%;
    padding: 1em;
    
    /* Animation */
  -webkit-animation: ombre ease-in infinite alternate 500ms;
  -moz-animation: ombre ease-in infinite alternate 500ms;
  animation: ombre ease-in infinite alternate 500ms;
}

.intro{                                                 /*chgt alignement*/
    text-align: center;
}

.photoProf{
    position: absolute;
    top: 0%;
    right: 1%;
    float: right;    
}

h2{
    color: rgb(18, 15, 199);
    font-family: 'GreatVibes-Regular', Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}

h2 ul li{
    list-style: none;
}

@font-face{
    font-family: 'GreatVibes-Regular';
    src: url('GreatVibes-Regular.otf');
}

@-webkit-keyframes ombre {
    0% {
      box-shadow: 0 0 45px rgb(28, 255, 47);
    }
    100% {
      box-shadow: 0 0 45pxx rgb(16, 117, 250);
    }
  }
  @-moz-keyframes ombre {
    0% {
      box-shadow: 0 0 45px red;
    }
    100% {
      box-shadow: 0 0 45px rgb(91, 3, 255);
    }
  }
  @keyframes ombre {
    0% {
      box-shadow: 0 0 45px rgb(11, 69, 155);
    }
    100% {
      box-shadow: 0 0 45px rgb(88, 194, 255);
    }
  }

