    /* Responsive */

@media (max-width: 640px) {
	body {
  min-height: 0; 
}
	.wrapper {
    flex-direction: column;
  }
	.content {
		flex-basis: auto;
	}
  nav {
    width: auto;
    order: 1;
  }
}


      /* Layout */


html {
    display: flex; 
    flex-direction: column;
} 

body {
  display: flex; /* crée un contexte flex pour ses enfants */
  flex-direction: column; /* affichage vertical */
  min-height: 100vh; /* toute la hauteur du viewport (compatible IE9+) */
}

.wrapper {
  display: block; /* IE fix */
  flex: 1 1 auto; /* occupe la hauteur restante */
  display: flex; /* crée un contexte flex pour ses enfants */
  flex-direction: row; /* affichage horizontal */
}

#navigation{
position: relative;
top: 0%;
}

nav {
    display: flex;
  width: 15em;
 
}

.content {
  display: block; /* IE fix */
  flex: 1; /* occupe la largeur restante */
}

/* Decoration */

body {
	margin: 0;
	background: #fff;
	font-family: "Century Gothic", helvetica, arial, sans-serif;
	font-size: 1.1em;
}
header, nav, section {
	padding: 10px;
	margin: 0;
	border: 2px solid #fff;
	border-radius: 10px;
	color: #fff;
}
header {
	background: dodgerblue;
    text-align: center;
}
nav {
	background: orange;
}
nav a {
  display: block;
  padding: .5em 1em;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid rgba(255,255,255,.3);
}
section {
	background: hotpink;
}
footer {
	background: olivedrab;
  text-align: center;
}