body{
    margin: 0;
    padding:0;

}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('police.jpg');
    background-size: cover;
    animation: color-change 2s linear infinite;
}

section:before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('Rain02.png');
    opacity: 0.6;
    animation: rain 0.7s linear infinite;
}

@keyframes color-change{
    0%, 100% {filter: hue-rotate(0deg);}
    50% {filter: hue-rotate(180deg);}
}

@keyframes rain{
    0%{background-position: 35% 40%;}
    100%{background-position: 15% 100%;}

}

