$cd-btn: #011c37;
$cd-txt: #15DEA5;

.btn{
    background: $cd-btn;
    color: $cd-txt;
    font-size: 3rem;
    cursor: pointer;
    padding: 1.85rem 3rem;
    transform: scale(1);
    &:hover{
        transform: scale(1.15);
    }
}